* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
}

.body {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.header {
  display: flex;
  margin: auto;
  height: 54px;
  max-width: 1200px;
  background: #ffffff;
}

.header a {
  cursor: pointer;
}

.title {
  margin: 10px 0px 10px 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  color: #448899;
  line-height: 34px;
}

.items {
  width: 64px;
  font-size: 16px;
  font-family: "Noto Sans TC";
  color: #666666;
}

#schedule {
  width: 74px;
  margin: 15px 30px 10px auto;
  text-align: center;
}

#sign {
  width: 82px;
  margin: 15px 40px 10px -30px;
  display: block;
  text-align: center;
}

#signout {
  width: 82px;
  margin: auto 10px auto -30px;
  display: none;
  text-align: center;
}

.main_info {
  display: flex;
  justify-content: space-between;
  margin: 54px auto 10px;
  padding: 0 10px;
  max-width: 1200px;
}

/* 圖片框 */
.img_container {
  position: relative;
  width: 540px;
  height: 390px;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

img.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

div.arrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 99%;
  height: 36px;
  align-items: center;
}

div#dot__nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 90%;
  width: 100%;
  height: 15px;
}

span.dot {
  width: 12px;
  height: 12px;
  margin: 0 8px;
  cursor: pointer;
  border: 0px;
  border-radius: 50%;
  background: white;
}

span.active,
span.dot:hover {
  background: black;
  border: 2px solid #ffffff;
}

div.left_arrow,
div.right_arrow {
  width: 36px;
  height: 36px;
  opacity: 0.7;
}

div.left_arrow:hover,
div.right_arrow:hover {
  opacity: 1;
  cursor: pointer;
}

div#name {
  height: 36px;
}

div#location {
  height: 36px;
}

#images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px 7px 0px 0px;
}

/* 行程表單 */
.booking {
  width: 600px;
  height: 380px;
}

.booking_form {
  width: 100%;
  padding: 10px 20px;
  background: #e8e8e8;
  border-radius: 5px;
  color: #666666;
}

.booking_form > * {
  margin: 15px;
  font-family: "Noto Sans TC";
}

#name {
  font-size: 24px;
  font-weight: bold;
}

#location {
  font-size: 16px;
}

.bold {
  font-size: 16px;
  font-weight: bold;
}

.booking_form p {
  font-size: 16px;
}

.booking_form .date label {
  font-weight: bold;
}

.booking_form .date input {
  width: auto;
  height: 35px;
  padding: 5px 10px;
  border: none;
}

.booking_form .time label:first-child {
  font-weight: bold;
}

.booking_form .time input {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  appearance: none;
  transform: translateY(4px);
}

.booking_form .time input:checked {
  background: #448899;
}

.booking_form .fee label {
  font-weight: bold;
}

.booking_form button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  background: #448899;
}

.separate_line {
  width: auto;
  margin: auto auto;
  max-width: 1200px;
  border: 1px solid #e8e8e8;
}

/* 景點描述 */
.info {
  margin: 20px auto auto auto;
  padding: 10px;
  max-width: 1200px;
  font-size: 16px;
  font-family: "Noto Sans";
}

.info > * {
  margin-bottom: 20px;
}

.address_title {
  font-weight: bold;
}

.transport_title {
  font-weight: bold;
}

.footerspace {
  height: 65px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: #757575;
  font-family: "Noto Sans TC";
  line-height: 60px;
}

@media (max-width: 1200px) {
  main {
    width: 100%;
  }

  .main_info {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .img_container {
    width: 80%;
  }

  .booking_form {
    width: 100%;
  }

  .booking {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
  }

  .separate_line {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .img_container {
    width: 100%;
  }

  .booking_form {
    width: 100%;
  }

  .booking {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  .separate_line {
    width: 95%;
  }
}
