.booking_main {
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1200px;
  width: 100%;
  font-family: "Noto Sans TC";
  color: #666666;
}

#booking_signout {
  width: 82px;
  margin: auto 10px auto -30px;
  text-align: center;
}

.booking_name {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: bold;
}

div.bookinfo {
  height: 200px;
  text-align: center;
}

.booking_container {
  display: flex;
  max-width: 1200px;
}

.booking_img_container {
  width: 350px;
  height: 200px;
}

#booking_img {
  flex: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 5px 5px;
}

#booking_info {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}

.div_name {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #448899;
}

.div_text {
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
}

span {
  font-weight: 100;
}

.order_info {
  margin-top: 30px;
}

#order_title {
  margin-bottom: 25px;
  font-size: 19px;
  font-weight: bold;
}

.order_info input {
  width: 180px;
  height: 25px;
  padding-left: 5px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
}

.tpfield {
  width: 180px;
  height: 27px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.order_info label {
  line-height: 27px;
  font-size: 16px;
  font-weight: 400;
}

.order_input {
  margin: 10px auto;
}

.remind {
  margin: 20px auto 30px auto;
  font-weight: bold;
}

.send_booking * {
  margin-left: auto;
  margin-bottom: 30px;
}

.total_price {
  width: 125px;
  margin: 30px 0px 10px auto;
}

.send_booking button {
  display: block;
  padding: 8px 10px;
  background: #448899;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.no_booking {
  margin: 30px auto;
  display: none;
}

.tappay-field-focus {
  border: 2px solid;
  border-color: #66afe9;
}

.has-error .tappay-field-focus {
  border: 2px solid #843534;
}

.has-success .tappay-field-focus {
  border: 2px solid #4fba51;
}

h2 {
  margin-top: 50px;
  text-align: center;
}

#order_number {
  margin-bottom: 20px;
  font-family: "Noto Sans TC";
  font-size: bold;
  color: #126d9a;
}

@media (max-width: 1200px) {
  .booking_main {
    padding-left: 50px;
    padding-right: 50px;
  }

  .booking_container {
    width: 100%;
    margin: auto;
  }

  div.booking {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .booking_main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .booking_container {
    flex-wrap: wrap;
  }

  div.booking_img_container {
    width: 100%;
  }

  #booking_delete {
    margin-left: auto;
  }
}
