
.booking_main{
    margin-top:72px;
    font-family:"Noto Sans TC";
    color:#666666;
    margin-right: auto;
    margin-left: auto;
    max-width:1200px;
    width:100%;
    padding-left: 100px;
    padding-right: 100px;
}

#booking_signout{
    width: 82px;
    margin:auto 10px;
    text-align:center;
    margin:auto 10px auto -30px;
}

.booking_name{
    font-size:19px;
    font-weight: bold;
    margin-bottom:20px;
}

div.bookinfo{
    height:200px;
    text-align: center;
}

.booking_container{
    display:flex;   
    max-width:1200px;
}
.booking_img_container{
    width:350px;
    height:200px;
}
#booking_img{
    flex:none;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 5px 5px 5px 5px;
}

#booking_info{
    width:100%;
    padding:20px;
    margin-bottom: 30px;
}

.div_name{
    font-weight: bold;
    font-size: 16px;
    color:#448899;
    margin-bottom:20px;
}

.div_text{
    font-weight: bold;
    font-size: 16px;
    margin:10px auto;
}
span{
    font-weight:100;
}

.order_info{
   margin-top:30px;
}

#order_title{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;
}

.order_info input{
    width:180px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    height: 25px;
    padding-left: 5px;
}

.order_info label{
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
}

.order_input{
    margin:10px auto;
}

.remind{
    font-weight: bold;
    margin:20px auto 30px auto;
}

.send_booking *{
    margin-left: auto;
    margin-bottom:30px;
}

.total_price{
    width:125px;
    margin:30px 0px 10px auto;
}

.send_booking button{
    display: block;
    background: #448899;
    border-radius: 5px;
    padding: 8px 10px;
    color: #ffffff;
    font-size: 16px;
    border:none;
    cursor: pointer;
}

.no_booking{
    margin:30px auto;
    display:none;
}
@media(max-width:1200px){

.booking_main{
    padding-left: 50px;
    padding-right: 50px;
}


.booking_container{
    width: 100%;
    margin:auto;
}
div.booking{
    margin-right: auto;
    margin-left: auto;
}

}

@media(max-width:600px){
.booking_main{
    padding-left: 10px;
    padding-right: 10px;
}

.booking_container{
    flex-wrap: wrap;
}

div.booking_img_container{
    width:100%;
}

#booking_delete{
    margin-left:auto;
}
}