* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 54px 1fr;
  height: 100vh;
}

.body {
  position: fixed;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.header {
  display: flex;
  margin: auto;
  height: 54px;
  max-width: 1200px;
  background: #ffffff;
}

.header a {
  cursor: pointer;
}

.title {
  margin: 10px 0px 10px 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  font-family: "Noto Sans TC";
  color: #448899;
}

.items {
  width: 64px;
  font-size: 16px;
  font-family: "Noto Sans TC";
  color: #666666;
}

.sec2 button {
  position: relative;
  top: 7px;
  left: -5px;
  width: 46px;
  height: 46px;
  border: 0;
  border-radius: 0px 7px 7px 0px;
  background: #448899;
}

.sec2 input {
  width: 400px;
  height: 46px;
  margin-top: 100px;
  padding-left: 10px;
  border: 0;
  border-radius: 7px 0px 0px 7px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  color: #757575;
}

#schedule {
  width: 74px;
  margin: 15px 30px 10px auto;
  text-align: center;
}

#sign {
  width: 82px;
  margin: 15px 40px 10px -30px;
  text-align: center;
  display: block;
}

#signout {
  width: 82px;
  margin: auto 10px auto -30px;
  text-align: center;
  display: none;
}

nav {
  display: grid;
  height: 320px;
  margin-top: 52px;
  overflow: auto;
  overflow-x: hidden;
  grid-template-columns: 1fr 1200px 1fr;
  background: url("/static/header.png"), linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: 90%, 100%;
}

.sec2-1 {
  position: relative;
  left: 0px;
  top: 80px;
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
  line-height: 24px;
  font-family: "Noto Sans TC";
  color: #f8f8f8;
  text-shadow: 0px 0px 30px #aabbcc;
}

.sec2-2 {
  position: relative;
  left: 0px;
  top: 80px;
  padding: 8px;
  font-size: 16px;
  line-height: 13px;
  font-family: "Noto Sans TC";
  color: #f8f8f8;
}

#container {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 340px;
  max-width: 1200px;
}

#container a {
  flex: none;
  width: 270px;
  margin: 20px 10px 0px;
  border: 1px solid #d8dbdd;
  border-radius: 7px 7px 0px 0px;
  text-decoration: none;
}

#title {
  flex: none;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Noto Sans TC";
  color: Gray;
}

#categoryname {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  color: Gray;
}

p.letters {
  word-wrap: break-word;
}

#mrttitle {
  flex: none;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Noto Sans TC";
  color: Gray;
}

#div2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px;
}

#image {
  flex: none;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #f0f8ff;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 7px 7px 0px 0px;
}

footer {
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  background: #757575;
  font-family: "Noto Sans TC";
}

#container a:hover {
  outline: 5px solid #d8dbdd;
  border-radius: 13px 13px 0px 0px;
}

@media (max-width: 1200px) {
  #container a {
    width: 45%;
  }

  .sec2 {
    padding-left: 10px;
  }

  .sec2 input {
    width: 300px;
  }

  form {
    padding: 8px;
  }

  nav {
    background-size: 65%, 100%;
    background-position: right bottom;
  }
}

@media (max-width: 600px) {
  nav {
    background-size: 70%, 100%;
    background-position: right bottom;
  }

  #container a {
    width: 90%;
  }

  .sec2 input {
    width: 200px;
    z-index: 2;
  }
}
