/* 會員登入/註冊*/
.member {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: 52px;
}
.background_color {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #666666;
  opacity: 0.25;
  display: none;
}

.signin_member {
  position: relative;
  display: none;
  width: 340px;
  margin: 20px auto;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  color: #666666;
  font-family: "Noto Sans TC";
  display: flex;
  flex-direction: column;
  animation: move 1s;
}

.member_title {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-top: 10px;
  font-size: 24px;
}

#close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: #666666;
  opacity: 0.45;
}

.member form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member form > input {
  width: 90%;
  height: 47px;
  margin: 8px;
  padding-left: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.member form > button {
  width: 90%;
  height: 53px;
  margin: 8px;
  background: #448899;
  border-radius: 5px;
  font-size: 19px;
  color: #ffffff;
  border-style: none;
}

.member form > p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 5px;
}

.signup_member {
  position: relative;
  display: none;
  width: 340px;
  margin: 20px auto;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  color: #666666;
  font-family: "Noto Sans TC";
  display: flex;
  flex-direction: column;
}

span#towardsign_in {
  cursor: pointer;
}
span#towardsign_up {
  cursor: pointer;
}

span#towardsign_up:hover {
  color: #448899;
}
span#towardsign_in:hover {
  color: #448899;
}

@keyframes move {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
