<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="../static/css/booking.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/attraction.css" rel="stylesheet" type="text/css" />

    
</head>
<body>
    <div class="body">
        <nav class="header">
            <a style ="text-decoration:none" class="title" href="/">台北一日遊</a>
            <a style ="text-decoration:none" class="item" id="schedule">預定行程</a>
            <a style ="text-decoration:none" onclick="sign_out()" class="item" id="booking_signout">登出系統</a>
        </nav>
    </div>   
    <main class="booking_main">
        <div class="booking_name">您好，<span id="booking_name"></span>，待預定的行程如下:</div>
        <div class="booking_information">
            <div class="bookinginfo">
                <div class="booking_container">
                    <div class="booking_img_container">
                        <img id="booking_img"></img>
                    </div>
                    <div id="booking_info"></div>
                    <div id="booking_delete"><img src="../static/icon_delete.png" /></div>
                </div>
            </div>
            <div class="separate_line"></div>  
            <form class="order">
                <div class="order_info">
                    <div id="order_title">您的聯絡資訊</div>
                    <div class="order_input">
                        <label for="contact_name">聯絡姓名：</label>
                        <input type="text" id="contact_name" name="contact_name" required>
                    </div>
                    <div class="order_input">
                        <label for="booking_email">聯絡信箱：</label>
                        <input type="text" id="booking_email" name="booking_email" required>
                    </div>
                    <div class="order_input">
                        <label for="phone">手機號碼：</label>
                        <input type="text" id="phone" name="phone" required>
                    </div class="order_input">
                    <div class="remind">請保持手機通暢，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
                </div>
                <div class="separate_line"></div>
                <div class="order_info">
                    <div id="order_title">信用卡付款資訊</div>
                    <div class="order_input card-number-group">
                        <label for="credit ">卡片號碼：</label>
                        <div class="tpfield" id="card-number"></div>
                    </div>
                    <div class="order_input expiration-date-group">
                        <label for="expiration">過期時間：</label>
                        <div class="tpfield" id="card-expiration-date"></div>
                    </div>
                    <div class="order_input cvc-group">
                        <label for="CVV">驗證密碼：</label>
                        <div class="tpfield" id="card-ccv"></div>
                    </div>
                </div>
                <div class="separate_line"></div>
                <div class="send_booking">
                    <div class="total_price"></div>
                    <button type="submit" disabled>確認訂購並付款</button>
                </div>
            </form>
        </div>
        <P class="no_booking">目前沒有任何待預訂的行程</P>
    </main>
    <div class="footerspace">
        <footer>
            <p>COPYRIGHT © 2021 台北一日遊</p>
        </footer>
    </div>
</body>
<script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
<script src="../static/js/member.js"></script>
<script src="../static/js/booking.js"></script>
</html>