<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/member.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="body">
        <nav class="header">
            <a style ="text-decoration:none" class="title" href="/">台北一日遊</a>
            <a style ="text-decoration:none" class="item" id="schedule">預定行程</a>
            <a style ="text-decoration:none" onclick="showsign_in()" class="item" id="sign">登入/註冊</a>
            <a style ="text-decoration:none" onclick="sign_out()" class="item" id="signout">登出系統</a>
        </nav>
    </div>
    <nav>
        <div></div>
        <div class="sec1">
            <div class="sec2">
                <div class="sec2-1">輕鬆享受台北一日悠閒</div>
                <div class="sec2-2">探索每個角落，體驗城市的深度旅遊行程</div>
                <form>
                    <input type="text" id="search" placeholder="輸入景點名稱查詢" />
                    <button type="submit"><img src="../static/icon_search.png" /></button>
                </form>
            </div>
        </div>
        <div></div>
    </nav>

    <div class="member">
        <div class="background_color"></div>
        <div class="signin_member">
            <h3 class="member_title">登入會員帳號
                <div id="close" onclick="closesign()">✕</div>
            </h3>
            <form id="signin">
                <input type="email" placeholder="輸入電子信箱" name="email" value="test@gmail.com" required>
                <input type="password" placeholder="輸入密碼" value="test111" name="password" required>
                <button type="submit">登入帳戶</button>
                <p class="message"></p>
                <p>還沒有帳戶？點此<span id="towardsign_up" onclick="towardsign_up()">註冊</span></p>
            </form>
        </div>
    
        <div class="signup_member">
            <h3 class="member_title">註冊會員帳號
                <div id="close" onclick="closesign()">✕</div>
            </h3>
            <form id="signup">
                <input type="name" placeholder="輸入姓名" name="name" required>
                <input type="email" placeholder="輸入電子信箱" name="email" required>
                <input type="password" placeholder="輸入密碼" name="password" required>
                <button type="submit">註冊帳戶</button>
                <p class="message"></p>
                <p>已經有帳戶了？點此<span id="towardsign_in" onclick="towardsign_in()">登入</span></p>
            </form>
        </div>   
    </div>

    <main id="container"></main>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

</body> 
<script src="../static/js/index.js"></script>
<script src="../static/js/member.js"></script>

</html>