<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="body">
        <nav class="header">
            <div class="title">台北一日遊</div>
            <a style ="text-decoration:none" href="" class="item" id="schedule">預定行程</a>
            <a style ="text-decoration:none" href="" class="item" id="sign">登入/註冊</a>
        </nav>
    </div>
    <nav>
        <div></div>
        <div class="sec1">
            <div class="sec2">
                <div class="sec2-1">輕鬆享受台北一日悠閒</div>
                <div class="sec2-2">探索每個角落，體驗城市的深度旅遊行程</div>
                <form>
                    <input type="text" id="search" placeholder="輸入景點名稱查詢" />
                    <button type="submit"><img src="../static/icon_search.png" /></button>
                </form>
            </div>
        </div>
        <div></div>
    </nav>
    <main id="container"></main>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

</body> 
<script src="../static/js/index.js"></script>

</html>